@CHARSET "UTF-8";

html {
	height: 100%;
	width: 100%;
}

.wellspring-wrapper {
	height: 100%;
	width: 100%;
}

#wellspring-content-block {
	height: 92%;
	text-align: center;
}

#wellspring-nav-bar {
	height: 8%;
}

.nav-bar-cell {
	width: 100%;
	text-align: center;
	border: 2px solid black;
}

input[type="radio"] {
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.mood-cell {
	width: 15%;
}

.mood-cell-left {
	margin-left:12.5%;
}

.moodl-cell-right {
	margin-right:12.5%;
}
