@CHARSET "UTF-8";


.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms !important;
}

.sliders {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 15px;
    
    background: -webkit-radial-gradient(circle, red, lime);
	background: -o-radial-gradient(circle, red, lime);
	background: -moz-radial-gradient(circle, red, lime);
	background: radial-gradient(circle, red, lime);
}

#home-dash-pie {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.stats-graph {
	width: 90%;
	height: 200px; /**TODO: un-hardcode height**/
    margin-right: 5%;
    margin-left: 5%;
}

.smiley-container {
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
}

.ui-controlgroup-controls {
	width: 100% !important;
}

.ui-radio {
	width: 20%;
}

.ui-btn {
	text-align: center !important;
}

.underneath-smiley {
	margin-left: 15%;
	margin-right: 15%;
}

.full-width {
	width: 100%;
}

.subsection-label {
	
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.wellspring-inline-header {
	display: inline !important;
	margin-left: 50%;
	margin-right: 25%;
}

.progress-bar-container {
	float: left;
	width: 15%;
	height: 70%;
	border: 1px solid black;
	border-radius: 5px;
}

.progress-bar {
	display: inline;
	float: right;
	margin-right: 5%;
	width: 20%;
	border-radius: 5px;
}

/**
html {
	height: 100%;
	width: 100%;
}

.wellspring-wrapper {
	height: 100%;
	width: 100%;
}

#wellspring-content-block {
	height: 92%;
	text-align: center;
}

#wellspring-nav-bar {
	height: 8%;
}

.nav-bar-cell {
	width: 100%;
	text-align: center;
	border: 2px solid black;
}

input[type="radio"] {
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.mood-cell {
	width: 15%;
}

.mood-cell-left {
	margin-left:12.5%;
}

.moodl-cell-right {
	margin-right:12.5%;
}
**/